In [1]:
#!/usr/bin/env python
import snowflake.connector as sfc
import pandas as pd
import boto3
import s3fs 
import os

In [2]:
mykey = "AKIAZASEX6JHNAFQYOEP"
mysecretkey = "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"
s3 = boto3.resource(
    service_name='s3',
    region_name='us-west-2',
    aws_access_key_id=mykey,
    aws_secret_access_key=mysecretkey
)
os.environ["AWS_DEFAULT_REGION"] = 'us-west-2'
os.environ["AWS_ACCESS_KEY_ID"] = mykey
os.environ["AWS_SECRET_ACCESS_KEY"] = mysecretkey

# Connect to DB

In [3]:

omni = sfc.connect(
    user='cs2021_user3',
    password='Cap2021Stone-3',
    account='paciolan',
    warehouse='INTERNAL_ANALYTICS_WH',#'capstone2021_wh',
    database='omni_raw',
    schema='FUND',
    role = 'CAPSTONE2021_ROLE'
)

# Extract data

## Donor Categories

In [4]:
#raw donor cat
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:id::string as donor_cat_id,
                    DATA:dbid::string as org_id,
                    DATA:name:en_US::string as donor_cat_name
                    from donorcategories 
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

donor_cat_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
donor_cat_df=donor_cat_df.rename(columns=str.lower)
donor_cat_df

     donor_cat_id    org_id                                     donor_cat_name
0           2003P    FRESNO                                        Cash Pledge
1          2013UP    FRESNO                           Scholarship Fund Upgrade
2       2014EARLY    FRESNO                                      Early Renewal
3            CYBB    FRESNO                             Current Year BB Season
4              FA    FRESNO                                     Former Athlete
...           ...       ...                                                ...
3387           FR  ARTSDEMO                                             Friend
3388           PL  ARTSDEMO                                    Platinum Member
3389       F20-D1  NEBRASKA  Donated all/part of 2020 football seating/park...
3390     ACC20-21      NCSU                     ACC Tournament Tag for 2020-21
3391         OUDT      UT-A                   FB21 No OU Limit - DDLT/Top 1000

[3392 rows x 3 columns]

In [5]:
#3392rows*3cols 
donor_cat_df.to_csv("s3://uci-capstone-custfields/raw_donor_category.csv", 
                             index = False)

In [6]:
#cleaned donor cat
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:id::string as donor_cat_id,
                    DATA:dbid::string as org_id,
                    DATA:name:en_US::string as donor_cat_name
                    from donorcategories 
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

donor_cat_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
donor_cat_df=donor_cat_df.rename(columns=str.lower)
donor_cat_df

         donor_cat_id    org_id                 donor_cat_name
0         BB20NOORDER  ARKANSAS   Not ordering BB20 Basketball
1             BBSUITE  ARKANSAS  BASKETBALL SUITE WAITING LIST
2              CLUB05  ARKANSAS                 Baxter Cty RBC
3              CLUB08  ARKANSAS      Memphis East Arkansas RBC
4     LW-Swimming-Men  ARKANSAS     Swimming-Men Letter Winner
...               ...       ...                            ...
3323            dwn18       USC  2018 TAF Membership Downgrade
3324            dwn19       USC  2019 TAF Membership Downgrade
3325      new16REASON       USC  Reason for Joining Membership
3326        newtran18       USC        TAF Membership Transfer
3327         LW-MCREW       USC     Letter Winner - Men's Crew

[3328 rows x 3 columns]

In [7]:
#3328rows*3cols 
donor_cat_df.to_csv("s3://uci-capstone-custfields/cleaned_donor_category.csv", 
                             index = False)

## Organizations

In [11]:
#raw org
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:id::string as org_id,
                    DATA:description:en_US::string as description,
                    DATA:name:en_US::string AS name
                    from organizations 
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

organization_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
organization_df=organization_df.rename(columns=str.lower)
organization_df

         org_id                        description                name
0           SMU      Southern Methodist University                 SMU
1        CLASS1                             CLASS1              CLASS1
2      DUQUESNE                Duquesne University            DUQUESNE
3          IOWA                 University of Iowa  University of IOWA
4    CORALVILLE        Xtream Arena and Fieldhouse          coralville
..          ...                                ...                 ...
297    NET-PT04                                               NET-PT04
298     ALABAMA                                                ALABAMA
299   WISCONSIN  University of Wisconsin - Madison           WISCONSIN
300     MIAMIOH                                                MIAMIOH
301      CLASS1                            CLASS1.              CLASS1

[302 rows x 3 columns]

In [12]:
#302rows*3cols
#exclude accountdbid
organization_df.to_csv("s3://uci-capstone-custfields/raw_organizations.csv", 
                             index = False)

In [13]:
#cleaned org
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:id::string as org_id,
                    DATA:description:en_US::string as description,
                    DATA:name:en_US::string AS name
                    from organizations
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

organization_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
organization_df=organization_df.rename(columns=str.lower)
organization_df

,org_id,description,name
0,SMU,Southern Methodist University,SMU
1,NET-ET13,XL Center (NET-ET13),XL Center
2,NET-ET10,,NET-ET10
3,TWSPOK,TicketsWest - Cuthbert Amphitheater,TWSPOK
4,NET-PT04,Portland 5 Centers for the Arts (NET-PT04),Portland 5 Centers for the Arts
...,...,...,...
288,INDIANA,,INDIANA
289,PITT,University of Pittsburgh,PITT
290,MARYLAND,University of Maryland,MARYLAND
291,WISCONSIN,University of Wisconsin - Madison,WISCONSIN
292,MIAMIOH,,MIAMIOH

In [14]:
#293rows*3cols
#exclude accountdbid
organization_df.to_csv("s3://uci-capstone-custfields/cleaned_organizations.csv", 
                             index = False)

## Allocations

In [15]:
#allocations dataset
#client_id:key, e.g. university
#allocationgroupid: which fund it goes to, e.g. Cap/annual/SeatingRights/af/AnnualScholarshipFund/endowment
#annualgift: t/f
#consumerfunddescription: more details about the allo
#charitablepercent: 0/100
#consumerfundname: Bulldog Club
#alloc_id: corresponding to consumerfundname/name, BDC
#lifetimegiving: t/f
#name: more info than consumerfundname, keep this
#prioritypointpercent:0/100
#deadlineday: day#/-7777777??????????
#deadlinefactor:????????????
#deadlinemonth: month#/-7777777??????
#deadlineyear: maybe delete 0/-7777777?????? 
#isexcludedfromdonationhistory: t/f
#yearsofgiving: t/f why not year#??????

#note:
#name and consumerfundname same
#consumerfunddescription is the message from donor to fund, i.e the allocation of the money

In [17]:
#raw allo
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS org_id,
                    DATA:allocationgroupid::string as allocationgroupid,
                    DATA:id::string AS alloc_id,
                    DATA:annualgift::boolean as annualgift,
                    DATA:consumerfunddescription::string AS consumerfunddescription,
                    DATA:charitablepercent as charitablepercent,
                    DATA:lifetimegiving::boolean AS lifetimegiving,
                    DATA:name:en_US::string AS name,
                    DATA:prioritypointpercent AS prioritypointpercent,
                    DATA:deadlineday AS deadlineday,
                    DATA:deadlinefactor AS deadlinefactor,
                    DATA:deadlinemonth AS deadlinemonth,
                    DATA:deadlineyear AS deadlineyear,
                    DATA:isexcludedfromdonationhistory AS isexcludedfromdonationhistory,
                    DATA:yearsofgiving AS yearsofgiving
                    from allocations 
                    ''')


# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
alloc_df=alloc_df.rename(columns=str.lower)
alloc_df

,org_id,allocationgroupid,alloc_id,annualgift,consumerfunddescription,charitablepercent,lifetimegiving,name,prioritypointpercent,deadlineday,deadlinefactor,deadlinemonth,deadlineyear,isexcludedfromdonationhistory,yearsofgiving
0,MSSTATE,End,ES-MAXWELL,True,,0,True,Maxwell Endowed Scholarship,0,31,0,11,-7777777,false,true
1,MSSTATE,Cap,CAPITAL-CAMPAIGN,True,,0,True,Capital Campaign,0,31,0,11,-7777777,false,true
2,MSSTATE,Cap,DNF-DOUBLEPLAYALUMNI,True,,0,True,DO NOT USE,0,31,-1,11,-7777777,false,true
3,MSSTATE,Cap,DNF-ROOF,True,,0,True,Dudy Noble Field Rooftop Club Pass,0,31,-1,11,-7777777,false,true
4,MSSTATE,Annual,FB-EASTBOX,True,,0,True,East Side Skybox,0,1,0,4,-7777777,false,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11144,TTU,ENDOW.MEM,T871B3JF00058G10,True,,100,True,Marsha Sharp Leadership Circle Scholarship End...,0,31,0,7,-7777777,false,true
11145,NCSU,SeatingRights,MBB10-2025,True,,0,True,Men's Basketball 10-2025,100,1,0,7,-7777777,false,false
11146,KANSAS,MOE,TFXC,True,,0,True,Track & Field Cross Country,0,28,1,1,-7777777,false,true
11147,TAM,12MF,FAWGB,True,<p>$500.00-$999.99</p>,100,True,Friends of Aggie Women's Golf-Birdie,100,-7777777,0,-7777777,-7777777,false,true
11148,KANSAS,GF,SPENDSCHOL,True,,0,True,Expendable Scholarships,0,28,1,1,-7777777,false,true

In [18]:
#11149rows*15cols
alloc_df.to_csv("s3://uci-capstone-custfields/raw_allocations.csv", 
                             index = False)

In [19]:
#clean allo
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS org_id,
                    DATA:allocationgroupid::string as allocationgroupid,
                    DATA:id::string AS alloc_id,
                    DATA:annualgift::boolean as annualgift,
                    DATA:consumerfunddescription::string AS consumerfunddescription,
                    DATA:charitablepercent as charitablepercent,
                    DATA:lifetimegiving::boolean AS lifetimegiving,
                    DATA:name:en_US::string AS name,
                    DATA:prioritypointpercent AS prioritypointpercent,
                    DATA:deadlineday AS deadlineday,
                    DATA:deadlinefactor AS deadlinefactor,
                    DATA:deadlinemonth AS deadlinemonth,
                    DATA:deadlineyear AS deadlineyear,
                    DATA:isexcludedfromdonationhistory AS isexcludedfromdonationhistory,
                    DATA:yearsofgiving AS yearsofgiving
                    from allocations
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    ''')


# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
alloc_df=alloc_df.rename(columns=str.lower)
alloc_df

,org_id,allocationgroupid,alloc_id,annualgift,consumerfunddescription,charitablepercent,lifetimegiving,name,prioritypointpercent,deadlineday,deadlinefactor,deadlinemonth,deadlineyear,isexcludedfromdonationhistory,yearsofgiving
0,NCSU,ExternalCredit,LIFEMBRCR,False,,0,True,Life Member Credit,100,0,0,0,0,false,false
1,NCSU,SeatingRights,RZ,False,,0,True,Red Zone,100,0,0,0,0,false,true
2,OKLAHOMA,FB,FL1500,True,,0,True,Football Priority LTR ($750 per seat),0,1,0,5,-7777777,false,true
3,OKLAHOMA,FB,FL200,True,,0,True,Football Priority LTR ($100 per seat),0,1,0,5,-7777777,false,true
4,OKLAHOMA,FB,FL250,True,,0,True,Football Priority LTR ($125 per seat),0,1,0,5,-7777777,false,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,KSU,CAP,VFI,False,,0,True,Volleyball Facility Improvement,0,0,0,0,0,false,true
10845,USC,CAP,6961210000,False,,0,True,Heritage Hall Renovation,0,0,0,0,0,false,true
10846,USC,MISC,9291015235,True,,0,True,Touchdown Club,0,-7777777,0,-7777777,-7777777,false,true
10847,LSU,PBP,ACG,True,,100,True,Academic Center Fund,200,0,0,0,0,false,true
10848,OKLAHOMA,CA,SCPP,True,<p>Amount to be Charged for each Home Run Hit ...,100,True,Softball Pledge Per Home Run,100,-7777777,0,-7777777,-7777777,false,true

In [20]:
#10849rows*15cols
alloc_df.to_csv("s3://uci-capstone-custfields/cleaned_allocations.csv", 
                             index = False)

## Alloc group

In [21]:
#raw alloc group
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS org_id,
                    DATA:id::string AS allocationgroupid,
                    DATA:name:en_US::string AS name
                    from allocgroups
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_grp_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
alloc_grp_df=alloc_grp_df.rename(columns=str.lower)
alloc_grp_df

       org_id allocationgroupid                        name
0      BAYLOR                MG              Matching Gifts
1     CLEMSON               END            IPTAY Endowments
2    ARKANSAS               OTH                       Other
3         ECU               PPA  Priority Point Adjustments
4        MICH               END                  Endowments
..        ...               ...                         ...
258      UT-A             ENDOW                  Endowments
259      UT-A                LP              Loyalty Points
260      UT-A                SG               Special Gifts
261       LSU                AC         Affiliated Chapters
262       LSU               TAF                         TAF

[263 rows x 3 columns]

In [22]:
#263rows*3col
alloc_grp_df.to_csv("s3://uci-capstone-custfields/raw_allocations_group.csv", 
                             index = False)

In [26]:
#cleaned alloc group
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS org_id,
                    DATA:id::string AS allocationgroupid,
                    DATA:name:en_US::string AS name
                    from allocgroups
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_grp_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
alloc_grp_df=alloc_grp_df.rename(columns=str.lower)
alloc_grp_df

       org_id allocationgroupid                  name
0      BAYLOR                MG        Matching Gifts
1    ARKANSAS               OTH                 Other
2     MSSTATE                EX                Exempt
3     CLEMSON               END      IPTAY Endowments
4      FRESNO                SU                 Suite
..        ...               ...                   ...
211       USC               TAF  Trojan Athletic Fund
212      ARMY                 A    Annual A Club Gift
213      ARMY               CAP      Capital Campaign
214       USC               CAP               Capital
215       TTU               RRC       Red Raider Club

[216 rows x 3 columns]

In [24]:
#216rows*3col
alloc_grp_df.to_csv("s3://uci-capstone-custfields/cleaned_allocations_group.csv", 
                             index = False)

## Transaction Items

In [7]:
#cleaned trans
cs = omni.cursor()
cur = cs.execute('''SELECT  
                    DATA:dbid::string AS org_id,
                    DATA:accountid::string AS account_id,
                    DATA:allocationid::string AS allocationid,
                    DATA:allocgroupid::string AS allocgroupid,
                    DATA:transactionid::string AS transactionid,
                    DATA:id::string AS transaction_item_id,
                    DATA:batchid::string AS batchid,
                    DATA:channelid::string AS channelid,
                    DATA:allocationid::string AS allocationid,
                    DATA:creditamount::string AS creditamount,
                    DATA:driveyear AS driveyear,
                    CONCAT(SUBSTRING(DATA:receiveddate::string,1,10),' ',SUBSTRING(DATA:receiveddate::string,12,8)) AS receiveddate,
                    DATA:fundtype::string AS fundtype,
                    DATA:giftid::string AS giftid,
                    DATA:pledgeamount::string AS pledgeamount,
                    DATA:paymentamount::string AS paymentamount,
                    DATA:matchpledgeamount::string AS matchpledgeamount,
                    DATA:paymentapplyamount::string AS paymentapplyamount,
                    DATA:motiveid::string AS motiveid
                    from transactionitems 
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    AND SUBSTRING(receiveddate,1,4) in ('2015','2016','2017','2018','2019','2020','2021')
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

transactionItem_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
transactionItem_df=transactionItem_df.rename(columns=str.lower)
transactionItem_df

,org_id,account_id,allocationid,allocgroupid,transactionid,transaction_item_id,batchid,channelid,allocationid,creditamount,driveyear,receiveddate,fundtype,giftid,pledgeamount,paymentamount,matchpledgeamount,paymentapplyamount,motiveid
0,NCSU,68594,AG,AnnualScholarshipFund,2725864,1,9,NCSU,AG,0,2017,2017-10-16 04:00:00,S,31983,0,6000,0,0,
1,NCSU,84489,AG,AnnualScholarshipFund,2725940,1,9,NCSU,AG,0,2017,2017-10-16 04:00:00,S,223134,0,6000,0,0,
2,NCSU,95391,AG,AnnualScholarshipFund,2725983,1,9,NCSU,AG,0,2017,2017-10-16 04:00:00,S,213262,0,7080,0,0,
3,NCSU,143301,AG,AnnualScholarshipFund,2726079,1,9,NCSU,AG,0,2017,2017-10-16 04:00:00,S,4298,0,12000,0,0,
4,NCSU,65171,AG,AnnualScholarshipFund,2725843,1,9,NCSU,AG,0,2017,2017-10-16 04:00:00,S,197444,0,3000,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10967101,WASHINGTON,10000,TYEEFB,SEATS,1503791,1,2130,EV_WASHINGTON,TYEEFB,0,2021,2021-04-30 01:15:51,S,None,0,26000,0,0,None
10967102,TAM,816005011,ANF,AF,1894276,1,7007,EV_TAMU,ANF,0,2021,2021-04-30 01:17:37,S,None,15000,15000,0,0,
10967103,CLEMSON,1141501,ISF,AF,2967573,1,1738,EV_CLEMSON,ISF,0,2021,2021-04-30 03:22:30,S,None,45000,45000,0,0,
10967104,CLEMSON,116765274,COL,AF,2967583,1,1738,EV_CLEMSON,COL,0,2022,2021-04-30 02:50:44,S,None,4000,4000,0,0,
10967105,CLEMSON,117933845,ISF,AF,2967587,1,1752,EV_CLEMSON,ISF,0,2021,2021-04-30 04:35:39,S,None,6000,0,0,0,

In [6]:
#10967106row*19col

In [9]:
transactionItem_df['paymentamount']= transactionItem_df['paymentamount'].astype(int)/100

In [10]:
transactionItem_df['year'] = transactionItem_df['receiveddate'].apply(lambda x: x[:4])

In [13]:
yearlyorgpayment = transactionItem_df[['org_id','account_id','paymentamount','year']].groupby(['org_id','account_id','year']).sum().reset_index()
yearlyorgpayment

             org_id account_id  year  paymentamount
0          ARKANSAS  000191264  2016           15.0
1          ARKANSAS  000191264  2017           15.0
2          ARKANSAS  000198821  2020           15.0
3          ARKANSAS  000343080  2020            0.0
4          ARKANSAS  000368954  2019           15.0
...             ...        ...   ...            ...
1981558  WASHINGTON       9996  2021            0.0
1981559  WASHINGTON      99967  2015          600.0
1981560  WASHINGTON      99969  2015          900.0
1981561  WASHINGTON      99969  2016          900.0
1981562  WASHINGTON      99969  2017         1800.0

[1981563 rows x 4 columns]

In [14]:
yearlyorgpayment_perperson = yearlyorgpayment.groupby(['org_id','year']).agg(["sum","mean","median","min","max","var","size"]).reset_index()
yearlyorgpayment_perperson

         org_id  year paymentamount                                  \
                                sum          mean  median       min
0      ARKANSAS  2015  2.887752e+07   1622.059356   300.0   -5030.0
1      ARKANSAS  2016  4.046182e+07   2316.074552   300.0  -54225.0
2      ARKANSAS  2017  4.273319e+07   2109.239467    50.0   -3000.0
3      ARKANSAS  2018  2.627638e+07   1709.922454   150.0   -5000.0
4      ARKANSAS  2019  3.028169e+07   2237.122617   270.0  -23995.0
..          ...   ...           ...           ...     ...       ...
142  WASHINGTON  2017  3.992975e+08  26281.674703  1200.0    -500.0
143  WASHINGTON  2018  1.373215e+08  17931.767699  4000.0  -75000.0
144  WASHINGTON  2019  1.291702e+08  17588.534109  2600.0   -5000.0
145  WASHINGTON  2020  8.669160e+07   7166.964101  1040.0 -101038.0
146  WASHINGTON  2021  6.864664e+06   1149.667354     0.0  -50000.0


             max           var   size
0     2006262.21  3.071233e+08  17803
1     3005000.00  1.691835e+09  17470
2     2861531.23  1.160382e+09  20260
3     1810000.00  6.178272e+08  15367
4     3121050.00  1.299980e+09  13536
..           ...           ...    ...
142  59757864.98  4.259784e+11  15193
143  11258663.20  4.350671e+10   7658
144  19898786.30  8.075353e+10   7344
145  21021876.66  4.091287e+10  12096
146    434349.00  9.820206e+07   5971

[147 rows x 9 columns]

In [15]:
yearlyorgpayment_perperson.columns = ["_".join(x) for x in yearlyorgpayment_perperson.columns.ravel()]
yearlyorgpayment_perperson

,org_id_,year_,paymentamount_sum,paymentamount_mean,paymentamount_median,paymentamount_min,paymentamount_max,paymentamount_var,paymentamount_size
0,ARKANSAS,2015,2.887752e+07,1622.059356,300.0,-5030.0,2006262.21,3.071233e+08,17803
1,ARKANSAS,2016,4.046182e+07,2316.074552,300.0,-54225.0,3005000.00,1.691835e+09,17470
2,ARKANSAS,2017,4.273319e+07,2109.239467,50.0,-3000.0,2861531.23,1.160382e+09,20260
3,ARKANSAS,2018,2.627638e+07,1709.922454,150.0,-5000.0,1810000.00,6.178272e+08,15367
4,ARKANSAS,2019,3.028169e+07,2237.122617,270.0,-23995.0,3121050.00,1.299980e+09,13536
...,...,...,...,...,...,...,...,...,...
142,WASHINGTON,2017,3.992975e+08,26281.674703,1200.0,-500.0,59757864.98,4.259784e+11,15193
143,WASHINGTON,2018,1.373215e+08,17931.767699,4000.0,-75000.0,11258663.20,4.350671e+10,7658
144,WASHINGTON,2019,1.291702e+08,17588.534109,2600.0,-5000.0,19898786.30,8.075353e+10,7344
145,WASHINGTON,2020,8.669160e+07,7166.964101,1040.0,-101038.0,21021876.66,4.091287e+10,12096
146,WASHINGTON,2021,6.864664e+06,1149.667354,0.0,-50000.0,434349.00,9.820206e+07,5971

In [16]:
yearlyorgpayment_perperson.rename(str.lower,axis='columns',inplace=True)
yearlyorgpayment_perperson.rename(columns={'org_id_':'org_id','year_':'year'},inplace=True)
yearlyorgpayment_perperson

,org_id,year,paymentamount_sum,paymentamount_mean,paymentamount_median,paymentamount_min,paymentamount_max,paymentamount_var,paymentamount_size
0,ARKANSAS,2015,2.887752e+07,1622.059356,300.0,-5030.0,2006262.21,3.071233e+08,17803
1,ARKANSAS,2016,4.046182e+07,2316.074552,300.0,-54225.0,3005000.00,1.691835e+09,17470
2,ARKANSAS,2017,4.273319e+07,2109.239467,50.0,-3000.0,2861531.23,1.160382e+09,20260
3,ARKANSAS,2018,2.627638e+07,1709.922454,150.0,-5000.0,1810000.00,6.178272e+08,15367
4,ARKANSAS,2019,3.028169e+07,2237.122617,270.0,-23995.0,3121050.00,1.299980e+09,13536
...,...,...,...,...,...,...,...,...,...
142,WASHINGTON,2017,3.992975e+08,26281.674703,1200.0,-500.0,59757864.98,4.259784e+11,15193
143,WASHINGTON,2018,1.373215e+08,17931.767699,4000.0,-75000.0,11258663.20,4.350671e+10,7658
144,WASHINGTON,2019,1.291702e+08,17588.534109,2600.0,-5000.0,19898786.30,8.075353e+10,7344
145,WASHINGTON,2020,8.669160e+07,7166.964101,1040.0,-101038.0,21021876.66,4.091287e+10,12096
146,WASHINGTON,2021,6.864664e+06,1149.667354,0.0,-50000.0,434349.00,9.820206e+07,5971

In [17]:
#147rows*9col
#430
yearlyorgpayment_perperson.to_csv("s3://uci-capstone-custfields/yearlyorgpayment_perperson.csv", 
                             index = False)

In [18]:
pd.unique(yearlyorgpayment_perperson['org_id'])

array(['ARKANSAS', 'ARMY', 'BAYLOR', 'CFL', 'CLEMSON', 'COLORADO', 'ECU',
       'FRESNO', 'FSU', 'KANSAS', 'KSU', 'LSU', 'MICH', 'MSSTATE', 'NCSU',
       'NEBRASKA', 'OKLAHOMA', 'TAM', 'TTU', 'USC', 'UT-A', 'WASHINGTON'],
      dtype=object)

In [12]:
#rows*col
#430
transactionItem_df.to_csv("s3://uci-capstone-custfields/cleaned_transactionItem.csv", 
                             index = False)

In [ ]:
#cleaned gift
import json
cs = omni.cursor()
cur = cs.execute('''SELECT 
                    DATA:dbid::string AS org_id,
                    DATA:accountid::string AS account_id,
                    DATA:id::string AS gift_id,
                    DATA:name::string AS name,
                    DATA:operation::string AS operation,
                    DATA:seq::string AS seq,
                    DATA:status::string AS status,
                    DATA:type::string AS type,
                    CONCAT(SUBSTRING(DATA:giftdate::string,1,10),' ',SUBSTRING(DATA:giftdate::string,12,8)) AS giftdate,
                    DATA:z_status::string AS status
                    from gifts 
                    where org_id not in ('SPORTS','ARTSDEMO','CLASS1','CLASS3A','CICD80')
                    and SUBSTRING(giftdate,1,4) in ('2018','2019','2020','2021')
                    limit 10
                    ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

gift_df = pd.DataFrame.from_records(iter(cur),columns=[x[0] for x in cur.description])
print(gift_df)

In [ ]:
# gift_df['CREATEDUSERNAME']=gift_df['CREATEDUSERNAME'].apply(lambda x: json.loads(x))
# for key,value in gift_df['CREATEDUSERNAME'].items():
#     name=str(value["first"]+' '+value["last"])
#     gift_df.loc[key,'CREATEDUSERNAME']=name

In [ ]:
# gift_df['LASTUPDATEDUSERNAME']=gift_df['LASTUPDATEDUSERNAME'].apply(lambda x: json.loads(x))
# for key,value in gift_df['LASTUPDATEDUSERNAME'].items():
#     name=str(value["first"]+' '+value["last"])
#     gift_df.loc[key,'LASTUPDATEDUSERNAME']=name

In [ ]:
#434164*14col
from datetime import datetime
gift_df['CREATEDUSERdt'] = pd.to_datetime(gift_df['CREATEDUSERTIMESTAMP'], unit='ms')

In [ ]:
gift_df

In [ ]:
zip_file = pd.read_csv('zip.csv',sep=';')

In [ ]:
from smart_open import smart_open
region_zip = pd.read_csv(smart_open('s3://uci-capstone-custfields/raw/ticket_region_zip.csv'))

In [ ]:
#region_zip = region_zip[region_zip['zip']!='CAMPU'].copy()
#region_zip = region_zip[region_zip['zip']!='NO'].copy()
region_zip['isnumeric']=region_zip['zip'].str.isnumeric()

In [ ]:
region_zip=region_zip[region_zip['isnumeric']].copy()

In [ ]:
region_zip['zip']=region_zip['zip'].apply(lambda x:x[:5])

In [ ]:
pd.unique(region_zip['vmc']).size

In [ ]:
region_loc

In [ ]:
region_zip['zip']=region_zip['zip'].astype(int)
org_location=pd.merge(zip_file[['Zip','Latitude','Longitude']],region_zip,right_on='zip',left_on='Zip')
org_location

In [ ]:
org_location.dropna(inplace=True)

In [ ]:
org_location

In [ ]:
org_location[['Latitude','Longitude','org_id']].groupby(['org_id']).agg(["mean","var"])

In [ ]:
org_loca=org_location[org_location['org_id']=='COLORADO']
org_loca
pd.unique(org_loca['vmc']).size

# Close Connection

In [ ]:
cs.close()
omni.close()